body{
        background-color: #e4f9f5;
        text-align: center;
        margin: 0;
}

html, body {
  height: 100%;
}

.full-height {
  height: 100%;
}

.top-container{
        border: 10px;
        padding: 20px;
        padding-top: 150px;
        font-family: Papyrus, fantasy;
        padding-bottom: 120px;
        max-height: 100vh;
}

.overview-image{
        margin:0;
        height:100vh;
        width:100vw;
}

.centered{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.middle-container1{
        position: relative;
        text-align: center;
        color: white;
        max-height: 100vh;
}

.middle-container2{
  position: relative;
  text-align: center;
  color: white;
  max-height: 100vh;
}

.service-image{
        height: 100vh;
        width:100vw;
        margin:0;
}

.middle-container3{
        padding-top: 150px;
        background-color: powderblue;
        padding-bottom: 120px;
}

.middle-container4{
        width: 100%;
        padding-top: 400px;
        background-color: powderblue;
        padding-bottom: 120px;
        display: block;
        max-height: 100vh;
}

.bottom-container{
        background-color: #e4f9f5;
}

.row-of-containers{

}

.box1{
        flex: auto;
        float:left;
               width:33%;
               height:auto;
        height:100vh;
        z-index:2;
}

.box2{
        flex:auto;
        float:left;
               width:33%;
               height:auto;
               height:100vh;
               z-index:2;
}

.box3{
        flex: auto;
        float:right;
               width:33%;
               height:auto;
               height:100vh;
               z-index:2;
}
.boximg1, .boximg2, .boximg3{
  position:absolute;
  top:297.5vh;
  max-width:33.3333vw;
  height: 100vh;
  z-index:0;
}
.boximg1{
  left:0;
}
.boximg2{
  left:33.3333vw;
}
.boximg3{
  left:66.6666vw;
}
.boxtxt1,.boxtxt2,.boxtxt3{
  z-index:0;
  position: absolute;
}
.boxtxt1{
  max-width:33vw;
  margin-left:1vw;
}
.boxtxt1{
  max-width:33vw;
  margin-left:1vw;
}
.boxtxt1{
  max-width:33vw;
  margin-left:1vw;
}
.hide {
  display: none;
}

.disp:hover + .hide {
        display: block;
        color: black;
}

.img1{
        position: relative;
        bottom: 50px;
}

.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  z-index:1;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change background on mouse-over */
.navbar a:hover {
  background: #ddd;
  color: black;

}

/* Main content */
.main {
  margin-top: 30px; /* Add a top margin to avoid content overlay */
}
